/* Estilização dos cards de produtos */
.card {
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in;
}

div .card-body {
    margin: 0;
    padding: 0;
    padding-bottom: 7.5%;
}

.card:hover {
    background-color: #f8f9fa;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 1px solid #6c757d;
    transform: translateY(2px)
}

.cardImg {
    margin: 0%;
    padding: 0%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-title {
    text-align: center;
    margin: 5%;
}

.card-text {
    text-align: center;
    margin: 5%;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    text-align: center;
}

.quantity-controls span {
    margin: 0 10px;
    font-size: 18px;
}